
body {
    background-color: #2C2C2E !important;
}


.logo-title {
    font-family: "Nunito Sans", sans-serif;
    font-weight: bolder;
    color: #152c5b;
    font-size: 42px;
}

.container-fluid {
    padding-left: 48px;
    padding-right: 48px;
}

@media (max-width: 768px) {
    .container-fluid {
        padding-left: 24px;
        padding-right: 24px;
    }
}

.spinner-border {
    color: whitesmoke !important;
}

.navbar {
    padding: 2.75rem 0;
}

input[type="date"]::before {
    content: attr(data-placeholder);
    width: 100%;
}

/* hide our custom/fake placeholder text when in focus to show the default
 * 'mm/dd/yyyy' value and when valid to show the users' date of birth value.
 */
input[type="date"]:focus::before,
input[type="date"]:valid::before {
    display: none;
}

/**** Custom styles for noUiSlider ****/
.noUi-connect {
    background: #31efcb;
}

.roundedx {
    width: 40px !important;
    height: 40px !important;
}

.user_name {
    color: whitesmoke;
}

.clickable {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
    width: 160px !important;
    user-select: none;
}

@media (max-width: 768px) {
    .menu {
        width: 200px!important;
    }

}

.fa-chevron-down {
    font-size: 12px !important;
    cursor: pointer;
    color: whitesmoke;
}

li {
    list-style: none !important;
}

.menu_last > li {
    height: 20%;
    display: flex;
    align-items: center;
    margin-left: 15px !important;
    margin-right: 15px !important;
    border-bottom: 0.3px solid #ffffff32;
}

.menu_last > li {
    cursor: pointer;
}

.menu_last > li:hover {
    color: #31efcb;
}

.hovering {
    color: #31efcb;
    transition: 100ms;
}

.menu_last {
    display: none;
    display: block;
    position: absolute;
    right: 4%;
    top: 75%;
    height: 250px;
    width: 210px;
    background-color: #0a0a0a;
    border-radius: 6px;
}

.menu > * {
    margin: auto;
}

.avatr {
    width: 100%;
    height: 100%;
    border-radius: 10px !important;
}

.noUi-horizontal .noUi-handle, .noUi-vertical .noUi-handle {
    background: #31efcb;
}

.noUi-target.noUi-horizontal .noUi-tooltip {
    background-color: #31efcb;
}

/**** Custom styles for Range ****/
input[type=range]::-webkit-slider-thumb {
    background-color: #31efcb;
}

input[type=range]::-moz-range-thumb {
    background-color: #31efcb;
}

input[type=range]::-ms-thumb {
    background-color: #31efcb;
}

/* For the globe and the text inside */
input[type=range] + .thumb {
    background-color: #31efcb;
}

input[type=range] + .thumb.active .value {
    color: #fff;
}

.clickable {
    cursor: pointer;
}

.nv-focusWrap {
    display: none;
}

.nv-legendWrap {
    display: none;
}

#table_length select {
    display: inline-block;
    width: auto;
}

#table_filter input {
    display: inline-block;
    width: auto;
}

@media (min-width: 1700px) {
    .col-xxl-6 {
        max-width: 50%;
        flex: 0 0 100%;
        position: relative;
        width: 100%;
    }
}

body > div.preloader {
    position: fixed;
    background: #2C2C2E;
    width: 100%;
    height: 100%;
    z-index: 1071;
    opacity: 0;
    transition: opacity .5s ease;
    overflow: hidden;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1, h2, h3, h4, h5 {
    color: white;
}

.html-content h1 {
    color: #6e5ad3;
}


@keyframes hidePreloader {
    0% {
        width: 100%;
        height: 100%;
    }

    100% {
        width: 0;
        height: 0;
    }
}

body {
    background-color: #2C2C2E !important;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.mybtn {
    background: #6e5ad3 !important;
    color: white !important;
    border: none !important;
    font-weight: bold !important;
    width: 50% !important;


}

.nav-link {
    color: #31b5ff !important;
}

.nav-link.active {
    border-bottom: 1px solid #30b1ff;
}

select.form-control {
    background: #31b5ff;
    color: white;
    border: none;
    font-weight: bold;
}

input[type='date'].form-control {
    background: #31b5ff;
    color: white;
    border: none;
    font-weight: bold;
}

.slice {
    background-color: #2C2C2E !important;
}

.m-x-4 {

    width: 95px;
    display: inline-block;
}

.tick > text {
    fill: white !important;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
    position: relative;
    font-size: 12px !important;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 3px solid #31efcb;
    border-radius: 100%;
    background: transparent;
}

.paginate_button.current {
    color: #333 !important;;
}

.paginate_button {
    color: #d2cdcd !important;
}

[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 5px;
    height: 5px;
    background: #31efcb;
    position: absolute;
    top: 7.5px;
    left: 7.5px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.pagin {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 0.5em 1em;
    margin-left: 2px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    color: #d2cdcd !important;
    border: 1px solid transparent;
    border-radius: 2px;
}

table.dataTable tbody tr {
    background-color: transparent !important;
}

[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.nv-x > .nvd3 > g > .tick > line {
    opacity: 0 !important;
}

.nv-groups > g {
    stroke-width: 2px !important;
    fill-opacity: 0.5 !important;
    fill: #31efcb !important;
    stroke: #31efcb !important;
}

.two_btn {
    background-color: #63be18 !important;
    padding: 6px !important;


}

.asd {
    background: #232325;
    border-radius: 10px;
    display: flex;
    align-items: center !important;
}

.ellipsis {
    color: #d2cdcd !important;
}

.two_btn > span {
    color: white;
    font-weight: bolder;
    font-size: 12px;
    margin: 5px;
}

.form-check-label {
    color: white !important;
    font-weight: bolder;
}

.table thead th {
    color: #b0a1ff !important;
}

.minilogo {
    height: 30px;
    margin-bottom: 1%;
}

.down_arrow {
    font-size: 30px;
    position: absolute;
    right: 20%;
    color: whitesmoke;
}

body > div.preloader {
    position: fixed;
    background: #2C2C2E;
    width: 100%;
    height: 100%;
    z-index: 1071;
    opacity: 0;
    transition: opacity .5s ease;
    overflow: hidden;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

body:not(.loaded) > div.preloader {
    opacity: 1;
}

body:not(.loaded) {
    overflow: hidden;
}

body.loaded > div.preloader {
    animation: hidePreloader .5s linear .5s forwards;
}

.title_grand {
    color: white;
    font-size: 26px;
    font-weight: bolder;
    margin-left: 5%;
}

@media (max-width: 768px) {
    .title_grand {
        font-size: 21px;
    }
    .graph_container
    {
        padding: 0!important;
        margin-top: 36px!important;
    }

    .nv-focusWrap{
        display: block;
    }

    #slider-container-1{
        display: none;
    }

}

.nav-link:not(.active) {
    color: whitesmoke !important;
}

.nav-link:not(.active):hover {
    color: #31B5FF !important;
}

.x-lefted {
    margin-left: auto !important;
}

.ul-s {
    width: 100% !important;
}

.dataTables_length {
    display: none !important;
}

#table_filter {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.m-1pp {
    top: 1% !important;
}

.m-22 {
    top: 22% !important;
}

.m-44 {
    top: 44% !important;
}

.m-65 {
    top: 68% !important;
    font-size: 20px !important;
}

.mysearch {
    background-color: #232325 !important;
    border: #232325 !important;;
    color: whitesmoke !important;;
    width: 300px !important;
    float: left;
}

@media(max-width: 768px){
    .mysearch {
        width: 160px !important;
    }
}
.form-control:focus {
    box-shadow: none !important;
}

.nvd3-svg {
    fill: whitesmoke;
}


.navbar-light .navbar-toggler{
    background: #31b5ff;
    margin-left: 24px;
}

.form-control:focus {
    color: rgba(255, 255, 255, 0.5);
}


@media (max-width: 768px) {
    .navbar-collapse{
        background: #353333!important;
    }

    .navbar-nav{
        align-items: flex-start!important;
    }

    .x-lefted{
        margin-left: 0!important;
    }
}